/* input[type="text"], */
/* select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
} */

input {
  height: 44px;
  border-radius: 7px;
  border-color: #9fd6ff;
}

input::selection {
  border-color: #9fd6ff;
}

.form1,
.form2,
.form3 {
  height: 27vh;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.form1-toprow,
.form1-bottomrow,
.form2-toprow,
.form2-bottomrow,
.form3-toprow,
.form3-bottomrow {
  display: flex;
  gap: 70px;
}

/* .form1-bottomrow {
    display: flex;
  } */

.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  height: 3px;
  background: #9f9f9f;
}

label {
  text-align: left;
  font-family: Poppins;
  font-weight: 300;
}

.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  width: 10px;
}

#sex {
  width: 160px;
  height: 50px;
  padding: 0;
  font-size: 20px;
}

#age {
  width: 110px;
}

select {
  height: 50px;
}
