.search-section {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: fit-content;
  border-style: outset;
  border-color: #9fd6ff;
}

#search-button {
  border-color: white;
  border: transparent;
  background: transparent;
}

#search-input {
  border: none;
}
