.results-list {
  width: 274px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-color: #9fd6ff;
  box-shadow: 0px 0px 8px #ddd;
  /* border-radius: 10px; */
  /* margin-top: 1rem; */
  max-height: 300px;
  border-top: none;
  overflow-y: auto;
  border-style: outset;
  cursor: pointer;
}
